<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>User Projects</title>

    <!-- Bootstrap core CSS-->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin.css" rel="stylesheet">

  </head>

  <body id="page-top">

   <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
      </button>
    </nav>

    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="sidebar navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/admin">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users">
            <i class="fas fa-users"></i>
            <span>Users</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/projects">
            <i class="fas fa-fw fa-folder"></i>
            <span>Projects</span>
          </a>
        </li>
        <a href="/logout" class="btn btn-secondary">Log Out</a>
      </ul>


      <div id="content-wrapper">

        <div class="container-fluid">
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Projects....</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>pid</th>
                      <th>Project Name</th>
                      <th>Keywords</th>
                      <th>Email</th>
                      <th>Radical Count</th>
                      <th>Non-radical Count</th>
                      <th>Neutral Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for out in output4 %}
                    <tr>
                      <td>{{out['pid']}}</td>
                      <td>{{out['projectname']}}</td>
                      <td>{{out['keywords']}}</td>
                      <td>{{out['email']}}</td>
                      <td>{{out['radicalCount']}}</td>
                      <td>{{out['nonradicalCount']}}</td>
                      <td>{{out['neutralCount']}}</td>
                    </tr>
              {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright © Brenda's Website 2018</span>
            </div>
          </div>
        </footer>

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="static/vendor/chart.js/Chart.min.js"></script>
    <script src="static/vendor/datatables/jquery.dataTables.js"></script>
    <script src="static/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="static/js/demo/datatables-demo.js"></script>
    <script src="static/js/demo/chart-area-demo.js"></script>

  </body>

</html>
